body {
    background-color: lightblue;
}

h1 {
    text-align: center;
}

a {
    color: blue;
}

div {
    margin-bottom: 10px;
}

.search {
    margin-top: 10px;
}

table {
    border-collapse: collapse;
}

td {
    padding: 10px;
}