<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trang chủ</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
    <style>
        * {
            font-size: 30px;
        }

        h1 {
            font-size: 40px;
        }

        h2 {
            color: blue;
        }
    </style>
</head>
<body>
    <h1>BÁN HÀNG TRỰC TUYẾN</h1>
    <h3>
        {% if session.user %}
            <h2 class="text-primary">Khách hàng: {{ session.user.username }}</h2>
            <a href="{{ url_for('logout') }}">Đăng xuất</a>
        {% else %}
            <a href="{{ url_for('login') }}">Đăng nhập</a>
            <a href="{{ url_for('register') }}">Đăng ký</a>
        {% endif %}
    </h3>
    <ul>
        <li>
            <a href="{{ url_for('products') }}">Tất cả</a>
        </li>
        <li>
            <a href="{{ url_for('products_by_category_id', category_id=1) }}">Điện thoại di động</a>
        </li>
        <li>
            <a href="{{ url_for('products_by_category_id', category_id=2) }}">Máy tính bảng</a>
        </li>
    </ul>
</body>
</html>