<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sản phẩm</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
</head>
<body>
    <h1>QUẢN LÝ SẢN PHẨM</h1>
    <div>
        <a href="{{ url_for('add_product') }}">Thêm sản phẩm</a>
        <form class="search">
            <div>
               <input type="text" name="keyword" placeholder="Nhập tên sản phẩm" />
            </div>
            <div>
                <input type="number" name="from_price" placeholder="Giá bắt đầu" />
                <input type="number" name="to_price" placeholder="Giá kết thúc" />
            </div>
            <button type="submit">Tìm kiếm</button>
        </form>
    </div>
    <div>
        <table border="1" width="100%">
               {% for product in products %}
                    <tr>
                        <td>
                            <img width="120" src="{{ product.image }}" alt="{{ product.name }}">
                        </td>
                        <td>
                            <h1>{{ product.name }}</h1>
                        </td>
                        <td>
                            {{ product.description }}
                        </td>
                        <td>
                            {{ "{:,}".format(product.price) }} VNĐ
                        </td>
                        <td>
                            <a href="#">Cập nhật</a> |
                            <a href="#">Xóa</a>
                        </td>
                    </tr>
                {% endfor %}
        </table>
    </div>
</body>
</html>